.content blockquote {
    background: transparent;
    border-left: 4px solid $aged-gold;
    padding: 0.5rem 0 0.5rem 2rem;
    margin-left:4rem;
    @include touch{
        margin-left:2rem;
    }
    @include mobile{
        padding-left: 1rem;
        margin-left:1rem;
    }
    p {
        font-family: $source-serif-pro;
        font-weight: 400;
        font-size: 1.875rem;
        margin-bottom: 1rem !important;
        line-height:1.1;
    }

    cite {
        font-size: 1rem;
        font-family: $united-sans-condensed;
        font-weight: 700;
        color: black;
        font-style: normal;
        text-transform: uppercase;
        line-height: 1;
        color:$aged-gold;
    }
}
