.breadcrumbs{
    background-color:#ededed;
    padding:0.9rem $side-padding-desktop;
    font-size: .875rem;
    @include touch{
        padding:0.9rem $side-padding-tablet; 
    }
    @include touch{
        padding:0.9rem $side-padding-mobile; 
    }
    a{
        font-family: $acumin-pro;
        font-size: 0.875rem;
        color:#000 !important;
        text-decoration: none;
        &:hover{
            text-decoration:underline;
        }
    }
    ul{
        font-family: $acumin-pro;
        font-size: 0.875rem;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        li{
            a{
                color:#000 !important;
                text-decoration: none;
                &:hover{
                    text-decoration:underline;
                }
            }
            &:not(:last-child):after{
                content:">";
                padding: 0 0.3rem;
            }
        }
    }
}