.header-container{
    padding:3rem 0;
    @include touch{
        padding:2rem 1.5rem;
    }
}
.section-container{
    padding:3rem 0;
    @include touch{
        padding:3rem 1.5rem;
    }
}
.filter-container{
    padding:1.5rem 0;
    @include touch{
        padding:1.5rem;
    }
}

