// image block
.wp-block-image {
    figcaption {
        display: flex;
        align-items: flex-start;
        padding: 0.5rem 0;
        text-align: left;
    
        p {
          font-size: 1rem !important;
    
          span {
            font-size: 0.875rem !important;
            font-family: "United Sans Condensed" !important;
            color: #707070 !important;
            text-transform: uppercase;
            padding-left: 1rem;
          }
        }
      }
    .alignleft{
        padding: 0.5rem 1.5rem 0 0;
        margin-bottom: 0.5rem !important;
        float: left;
        figcaption {
            margin-right: 1.5rem;
        } 
        @media (max-width: 414px) {
            float: none;
            padding-right: 0;
            width:100%;
            figcaption {
                max-width: 100% !important;
                margin-bottom: 2.5rem;
                text-align: center;
                margin-right:0;
            }
        }
    }
    .alignright{
        padding: 0.5rem 0 0 1.5rem;
        margin-bottom: 0.5rem !important;
        float: right; 
        figcaption {
            margin-left: 1.5rem;
        }    
        @media (max-width: 414px) {
          float: none;
          padding-left: 0;
          width:100%;
          figcaption {
            max-width: 100% !important;
            margin-bottom: 2.5rem;
            text-align: center;
            margin-left:0;
          }
        }
    }
    .aligncenter{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:0.5rem;
        margin-bottom: 0.5rem !important;
        @media (max-width: 414px) {
            figcaption {
              max-width: 100% !important;
              margin-bottom: 2.5rem;
              text-align: center;
            }
          }
    }
}

//button block
.wp-block-button__link,.gform_button {
	border-radius: 0;
  font-family: 'united sans';
  font-weight:700;
  font-size:1.125rem !important;
  text-transform: uppercase;
  padding:0.75rem 3.125rem;
  background-color:#000;
  color:$boiler-gold;
  border:2px solid #000;
  letter-spacing:0.05rem;
  height:auto;
	&:hover {
    text-decoration: none;
    color:$aged-gold;
    background-color:#fff;
    border:2px solid #000;
  }
}
$colorBg: (
	'boiler-gold' 		: $boiler-gold,
  'black' 		: #000,
  'transparent' 		: rgba(0,0,0,0),
  'opaque' 		: rgba(0,0,0,0.65),
);
$colorText: (
	'boiler-gold' 		: #000,
  'black' 		: $boiler-gold,
  'transparent' 		: #fff,
  'opaque' 		: #fff,
);
$colorBorder: (
	'boiler-gold' 		: $aged-gold,
  'black' 		: #000,
  'transparent' 		: $boiler-gold,
  'opaque' 		: #fff,
);
$colorBg_hover: (
	'boiler-gold' 		: #fff,
  'black' 		: #fff,
  'transparent' 		: $boiler-gold,
  'opaque' 		: #000,
);
$colorText_hover: (
	'boiler-gold' 		:  #000,
  'black' 		: $aged-gold,
  'transparent' 		: #000,
  'opaque' 		: #fff !important,
);

$colorHollowText: (
	'boiler-gold' 		: #000,
  'black' 		: $aged-gold,
  'transparent' 		: #fff,
  'opaque' 		: #fff,
);
$colorHollowBorder: (
	'boiler-gold' 		: $aged-gold !important,
  'black' 		: #000 !important,
  'transparent' 		: $boiler-gold !important,
  'opaque' 		: #fff !important,
);
$colorHollowBg_hover: (
	'boiler-gold' 		: $boiler-gold !important,
  'black' 		: #000 !important,
  'transparent' 		: $boiler-gold !important,
  'opaque' 		: #000 !important,
);
$colorHollowText_hover: (
	'boiler-gold' 		:  #000 !important,
  'black' 		: $boiler-gold !important,
  'transparent' 		: #000 !important,
  'opaque' 		: #fff !important,
);
@each $name, $color in $colorBg {

  .has-#{$name}-background-color {
    background-color:  $color;
    color:map_get( $colorText, $name );
    border: 2px solid map_get( $colorBorder, $name );
  }
  .has-#{$name}-background-color:hover,
  .has-#{$name}-background-color:focus {
    background-color:  map_get( $colorBg_hover, $name );
    color:map_get( $colorText_hover, $name );
  }
  .is-style-outline{
    .has-#{$name}-color {
      background-color: transparent !important;
      color:map_get( $colorHollowText, $name );
      border: 2px solid map_get( $colorHollowBorder, $name );
    }
    .has-#{$name}-color:hover,
    .has-#{$name}-color:focus {
      background-color:  map_get( $colorHollowBg_hover, $name );
      color:map_get( $colorHollowText_hover, $name );
    }
  }
}