// image block
.wp-block-image {
    figcaption {
        display: flex;
        align-items: flex-start;
        padding: 0.5rem 0;
        text-align: left;
    
        p {
          font-size: 1rem !important;
    
          span {
            font-size: 0.875rem !important;
            font-family: "United Sans Condensed" !important;
            color: #707070 !important;
            text-transform: uppercase;
            padding-left: 1rem;
          }
        }
      }
    .alignleft{
        padding: 0.5rem 1.5rem 0 0;
        margin-bottom: 0.5rem !important;
        float: left;
        figcaption {
            margin-right: 1.5rem;
        } 
        @media (max-width: 414px) {
            float: none;
            padding-right: 0;
            width:100%;
            figcaption {
                max-width: 100% !important;
                margin-bottom: 2.5rem;
                text-align: center;
                margin-right:0;
            }
        }
    }
    .alignright{
        padding: 0.5rem 0 0 1.5rem;
        margin-bottom: 0.5rem !important;
        float: right; 
        figcaption {
            margin-left: 1.5rem;
        }    
        @media (max-width: 414px) {
          float: none;
          padding-left: 0;
          width:100%;
          figcaption {
            max-width: 100% !important;
            margin-bottom: 2.5rem;
            text-align: center;
            margin-left:0;
          }
        }
    }
    .aligncenter{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top:0.5rem;
        margin-bottom: 0.5rem !important;
        @media (max-width: 414px) {
            figcaption {
              max-width: 100% !important;
              margin-bottom: 2.5rem;
              text-align: center;
            }
          }
    }
}

//table block
.wp-block-table-mobile{
  display:none;
  @include touch{
    display:block;
    width:100%;
  }
  margin-bottom:1.875rem;
  font-family:$acumin-pro;
  font-size:1rem;
  text-align:center;
  .table-header{
    border-top:1px solid #000 !important;
    background-color:#000;
    color:$boiler-gold !important;
    padding:1.25rem;
    line-height:1.5;
    font-weight:700;
  }
  .table-body{
    border-top:1px solid #000 !important;
    background-color:#ededed;
    color:#000;
    padding:1.25rem;
    line-height:1.5;
    &:last-child{
      border-bottom:1px solid #000;
    }
  }
  .table-footer{
    border-top:1px solid #000 !important;
    background-color:$boiler-gold;
    color:#000;
    padding:1.25rem;
    line-height:1.5;
  }
}
.wp-block-table{
  border-bottom:none !important; 
  font-family:$acumin-pro;
  table{
    font-size:1rem;
    text-align:left;
    @include touch{
      display:none;
    }
    thead{
      tr{
        th{
          border:1px solid $black !important;
          background-color:#000;
          color:$boiler-gold !important;
          padding:1.25rem;
          line-height:1.5;
          strong{
            color:$boiler-gold !important;
          }
        }
      }
    }
    tbody{
      tr{
        &:nth-child(even){
          background-color: #ededed !important;
        }
        &:nth-child(odd){
          background-color: #fff !important;
        }
        td{
          border:1px solid #000 !important;
          padding:1.25rem;
          line-height:1.5;
        }
      }  
    }
    tfoot{
      tr{
        td{
          border:1px solid #000 !important;
          background-color:$boiler-gold;
          color:#000 !important;
          padding:1.25rem;
          line-height:1.5;
        }
      }  
    }
  }
  figcaption{
    font-size:1.125rem;
    font-style:normal !important;
    text-align:left;
  }
}
//latest posts block 
ul.wp-block-latest-posts.wp-block-latest-posts__list{
  margin:0 0 2rem;
  li{
    display:block;
    padding: 1.5625rem 0;
    border-top: solid 1px $black;
    &:last-child{
      border-bottom: solid 1px $black;
    }
    .wp-block-latest-posts__featured-image{
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      margin-bottom: 1rem;
      img{
        width: 160px;
        display:block;
      }
    }
    .wp-block-latest-posts__post-excerpt{
      margin-bottom:0;
    }
    a{
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: left;
      font-weight: 600;
      max-width: 100%;
      color: $black;
      margin-bottom: 0;
      line-height: 1.25rem;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
      }
    }
  }
  &.is-grid{
    margin: -0.75rem 0 0 ;
    &:last-child {
      margin-bottom: -0.75rem;
    }
    justify-content:space-between;
    li{
      margin:0.75rem 0;
      box-shadow:$box-shadow;
      display:block;
      padding:0;
      border:none !important;
      background:$white;
      .wp-block-latest-posts__featured-image{
        margin-right:0;
        img{
          width:100%;
          display:block;
        }
      }
      a{
        color:$black;
        font-family:$acumin-pro-semicondensed;
        font-size:1.5625rem;
        line-height:1.35;
        font-weight:600;
        text-decoration:none;
        margin:2.5rem 2.5rem 1rem;
        display:block;
        &:hover{
          text-decoration:underline;
          color:$aged-gold;
        }
        &:last-child{
          margin:2.5rem;
        }
      }
      .wp-block-latest-posts__post-date{
        color:$aged-gold;
        font-family:$united-sans;
        font-size:1.125rem;
        font-weight:800;
        text-transform:uppercase;
        margin:1rem 2.5rem;
        &:last-child{
          margin-bottom:2.5rem !important;
        }
      }
      .wp-block-latest-posts__post-author{
        color: $cool-gray;
        font-family:$united-sans;
        font-size:1.125rem;
        font-weight:600;
        margin:1rem 2.5rem;
        &:last-child{
          margin-bottom:2.5rem !important;
        }
      }
      .wp-block-latest-posts__post-excerpt,.wp-block-latest-posts__post-full-content{
        color: $cool-gray;
        font-family:$acumin-pro;
        font-size:1.125rem;
        margin:1rem 2.5rem 2.5rem;
        line-height:1.5;

        a{
          color: $aged-gold;
          margin:1rem 0 2.5rem;
          font-family:$united-sans;
          font-size:1.125rem;
          font-weight: 800;
          text-transform: uppercase;
          &:after{
            content: "\f105";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            margin-left: 1rem;
            position: relative;
          }
        }
      }
    }
    &.columns-3{
      li{
        width:32% !important;
        @include touch{
          width:48.5% !important;
        }
        @include mobile{
          width:100% !important;
        }
      }
    }
    &.columns-2{
      li{
        width:49% !important;
        @include mobile{
          width:100% !important;
        }
      }
    }
  }
}

//button block
.wp-block-buttons.is-layout-flex {
  display: flex;
}
.wp-block-button__link,.gform_button {
	border-radius: 0;
  font-family: $acumin-pro;
  font-weight:400;
  font-size:1rem !important;
  padding:0.75rem 1.5rem;
  background-color:$boiler-gold;
  color:$black;
  border:2px solid #000;
  height:auto;
	&:hover {
    text-decoration: none;
    color:$boiler-gold;
    background-color:$black;
    border:2px solid #000;
  }
}
$colorBg: (
	'boiler-gold' 		: $boiler-gold,
  'black' 		: #000,
  'transparent' 		: rgba(0,0,0,0),
  'opaque' 		: rgba(0,0,0,0.65),
);
$colorText: (
	'boiler-gold' 		: #000,
  'black' 		: $boiler-gold,
  'transparent' 		: #fff,
  'opaque' 		: #fff,
);
$colorBorder: (
	'boiler-gold' 		: $black,
  'black' 		: #000,
  'transparent' 		: $boiler-gold,
  'opaque' 		: #fff,
);
$colorBg_hover: (
	'boiler-gold' 		: $black,
  'black' 		: $black,
  'transparent' 		: $boiler-gold,
  'opaque' 		: #000,
);
$colorText_hover: (
	'boiler-gold' 		:  $boiler-gold,
  'black' 		: $white,
  'transparent' 		: #000,
  'opaque' 		: #fff !important,
);

$colorHollowText: (
	'boiler-gold' 		: #000,
  'black' 		: $aged-gold,
  'transparent' 		: #fff,
  'opaque' 		: #fff,
);
$colorHollowBorder: (
	'boiler-gold' 		: $black !important,
  'black' 		: #000 !important,
  'transparent' 		: $boiler-gold !important,
  'opaque' 		: #fff !important,
);
$colorHollowBg_hover: (
	'boiler-gold' 		: $black !important,
  'black' 		: $white !important,
  'transparent' 		: $boiler-gold !important,
  'opaque' 		: #000 !important,
);
$colorHollowText_hover: (
	'boiler-gold' 		:  $boiler-gold !important,
  'black' 		: $black !important,
  'transparent' 		: #000 !important,
  'opaque' 		: #fff !important,
);
@each $name, $color in $colorBg {
  .wp-block-button{
    .has-#{$name}-background-color {
      background-color:  $color;
      color:map_get( $colorText, $name );
      border: 2px solid map_get( $colorBorder, $name );
    }
    .has-#{$name}-background-color:hover,
    .has-#{$name}-background-color:focus {
      background-color:  map_get( $colorBg_hover, $name ) !important;
      color:map_get( $colorText_hover, $name ) !important;
    }
    &.is-style-outline{
      .has-#{$name}-background-color {
        background-color: rgba(0,0,0,0) !important;
        color:map_get( $colorHollowText, $name );
        border: 2px solid map_get( $colorHollowBorder, $name );
      }
      .has-#{$name}-background-color:hover,
      .has-#{$name}-background-color:focus {
        background-color:  map_get( $colorHollowBg_hover, $name );
        color:map_get( $colorHollowText_hover, $name );
      }
    }
  }
}
.wp-block-button.full-width{
  width:100%;
  .wp-block-button__link{
    width:100%;
  }
}