
.alm-filters-container{
    margin-bottom:0 !important;
    .alm-filter--inner{
        padding-bottom:0 !important;
    }
    .alm-filter {
        display: inline-block !important;
        padding: 0 !important;
        margin-bottom:0 !important;
        @include mobile{
            padding: 0.5rem 0 !important;
            display: block !important;
        }
    }
}
.filter{
    @include mobile{
        width:100%;
    }
    .alm-filter--select {
        @include mobile{
            width:100%;
        }
        select{
            font-size:1.125rem !important;
            font-weight:500;
            padding:0.5rem 1.8rem 0.5rem 0.8rem;
            -webkit-appearance: none;
            margin:0.5rem 0;
            background-color: #fff;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-angle-down fa-w-10' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' data-fa-i2svg=''%3E%3Cpath fill='%23707070' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");            background-repeat: no-repeat;
            background-position: right .7em top 60%;
            background-size: .65em auto;
            @include mobile{
                width:100%;
            }
        }
    }
}

.year-dropdown{
    margin-left:1.5rem !important;
    @include mobile{
        margin-left:0 !important;
    }
    .alm-filter--select {
    select{
        padding-right:2rem !important;
    }
}
}

