//footer with side nav
.narrow-footer{
    // z-index:10;
    z-index:0;
    grid-row: 2/3 !important;
    grid-column:2/3 !important;
    color:#fff;
    h2,h3,h4,h5,h6{
        color: $boiler-gold;
        font-weight: 700;
    }
    h5{
        font-size: 1.1875rem;
    }
    p{
        color:#fff;
    }
    a {
        color: #fff;
        text-decoration: underline;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
    @include touch{
      margin-left:0;
      grid-row: auto;
      grid-column:1/2;
    }
    .footer__resources{
      padding:2.375rem 1.5rem !important;
      @media (max-width:$stickySideNav-desktop){
          padding:2.876rem 1.5rem 0!important;
      }
      @include mobile{
        padding:2.876rem $side-padding-mobile 0!important;
    }
      .container{
        .columns{
            @media (max-width:$stickySideNav-desktop){
                display:block;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .column{
                @media (max-width:$stickySideNav-desktop){
                    width:100%;     
                }
                .footer__motto{
                    @media (max-width:$stickySideNav-desktop){
                        text-align:center;     
                    }
                    a{
                        img{
                            width:203.68px;
                            max-width: 100%;
                        }
                        @media (max-width: $stickySideNav-desktop){
                            img{
                                width:224.68px; 
                            }
                        }
                    }
                }
                .footer__address{
                    padding-top:2.375rem;
                    p{
                        color:white;
                        font-family: $acumin-pro;
                        font-size:0.9375rem;
                        line-height: 1.3;
                        @media (max-width:$stickySideNav-desktop){
                            text-align:center;
                            &:last-child{
                                padding-bottom:2.875rem; 
                            }
                        }
                        a{
                            color:inherit;
                            text-decoration: underline;
                            &:hover{
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
            .footer__links{
                display:flex;
                flex-direction:column;
                align-items:flex-start;
                @media (max-width:$stickySideNav-desktop){
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-top:1px solid #2e2e2e;
                    align-items:flex-start;
                }
                h5{
                    padding:0 0 1.3rem 0;
                    @media (max-width: $stickySideNav-desktop){
                        width:100%;
                        padding:0;
                    }
                    .accordion__heading--footer{
                        width:100%;
                        font-size: 1.1875rem;
                        font-weight: 700;
                        color:$boiler-gold;
                        padding:0;
                        margin:0;
                        border:0;
                        background-color:#000000;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items:baseline;         
                        text-transform: uppercase;
                        pointer-events: none;
                        .fa-plus,.fa-minus{
                            display:none;
                            pointer-events: none;
                        }       
                        @media (max-width: $stickySideNav-desktop){
                            padding: 0;
                            pointer-events: all;
                            &:hover{
                                cursor:pointer;
                            }
                            .fa-plus{
                                display:block;
                            }
                            .fa-minus{
                                display:none;
                            }
                        } 
                  }
                }
                ul{
                    font-family: $acumin-pro;
                    @media (max-width: $stickySideNav-desktop){
                        display:none;
                        height:0;
                        transition: height 0.2s ease;
                        overflow:hidden;
                    }
                    li{
                        padding:0.4rem 0;
                        a{
                            color:#fff;
                            font-size:0.9375rem;
                            text-decoration: underline;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                        &:first-child {
                            padding-top: 0;
                        }
                        &:last-child {
                            padding-bottom: 0;
                        }
                        @media (max-width: $stickySideNav-desktop){
                            &:first-child {
                                padding-top: 0.8rem;
                              }
                        }
                    }
                }
            }
            .footer__social{
                display:flex !important;
                flex-direction:row;
                justify-content: center;
                align-items: flex-start;
                @media (max-width:$stickySideNav-desktop){
                    justify-content:center;
                    align-items:center; 
                    border-top:1px solid #2e2e2e;
                    padding-top:1.375rem;
                    padding-bottom:1.625rem;
                }
                a{
                    margin: 0;
                    color: #fff;
                    font-weight: 700;
                    font-size:1.375rem;
                    text-decoration: none;  
                    &:not(:last-child){
                    margin-right:0.8rem;
                    }
                    @media (max-width:$stickySideNav-desktop){
                        &:not(:last-child){
                            margin-right:1.2rem;
                        }
                    }  
                    &:hover{
                        color:$boiler-gold;
                    } 
                }
                
            }
          }
        
      }
  }
  .footer__signature{
      padding:1.68rem 3.25rem!important;
      text-align:center;
      background-color: #1e1e1e !important;
      color: #fff;
      font-size:0.9375rem;
      @media (max-width:$stickySideNav-desktop){
        padding:1.68rem 1.5rem !important;
      }
      @include mobile{
        padding:1.68rem $side-padding-mobile !important;
    }
      .container{
        div{
            display:inline-block;
            ul{
                display:inline-block;
                li{
                    display:inline-block;
                    &:before{
                        content:"| ";
                    }
                }
            }
        }
      }

      a{
          color:#fff;
          text-decoration: underline; 
          &:hover{
            text-decoration: none; 
          }
      }
  }
  
  
}

//footer without sidenav
.footer{
    padding:0;
    color:#fff;
    h2,h3,h4,h5,h6{
        color: $boiler-gold;
        font-weight: 700;
    }
    h5{
        font-size: 1.1875rem;
    }
    p{
        color:#fff;
    }
    a {
        color: #fff;
        text-decoration: underline;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
    .footer__links{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        @include touch{
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-top:1px solid #2e2e2e;
            align-items:flex-start;
        }
        h5{
            padding:0 0 1.3rem 0;
            @include touch{
                width:100%;
                padding:0;
            }
            .accordion__heading--footer{
                width:100%;
                font-size: 1.1875rem;
                font-weight: 700;
                color:$boiler-gold;
                padding:0;
                margin:0;
                border:0;
                text-align:left;
                background-color:#000000;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items:baseline;         
                text-transform: uppercase;
                pointer-events: none;
                .fa-plus,.fa-minus{
                    display:none;
                    pointer-events: none;
                }
                &:focus{
                    outline:none;
                }       
                @include touch{
                    pointer-events: all;
                    padding:0;
                    &:hover{
                        cursor:pointer;
                    }
                    .fa-plus{
                        display:block;
                    }
                    .fa-minus{
                        display:none;
                    }
                } 
          }
        }
        ul{
            font-family: $acumin-pro;
            @include touch{
                display:none;
                height:0;
                transition: height 0.2s ease;
                overflow:hidden;
            }
            li{
                padding:0.4rem 0;
                a{
                    color:#fff;
                    font-size:0.9375rem;
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                @include touch{
                    &:first-child {
                        padding-top: 0.8rem;
                    }
                }
            }
        }
        .custom-html-widget{
            width:100%;
        }
    }
    .footer__resources{
      padding:2.375rem $side-padding-desktop !important;
      @include touch{
          padding:2.876rem $side-padding-tablet 0!important;
      }
      @include mobile{
        padding:2.876rem $side-padding-mobile 0!important;
      }
      .container{
        .columns{
            @include touch{
                display:block;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .column{
                @include touch{
                    width:100%;     
                }
                .footer__motto{
                    @include touch{
                        text-align:center;     
                    }
                    a{
                        img{
                            width:203.68px;
                            max-width: 100%;
                        }
                        .vertical{
                            display:block;
                        }
                        .horizontal{
                            display:none;
                        }
                        @media (max-width: $stickySideNav-desktop){
                            img{
                                width:224.68px; 
                            }
                            .vertical{
                                display:none;
                            }
                            .horizontal{
                                display:block;
                            }
                        }
                    }
                }
                .footer__address{
                    padding-top:2.375rem;
                    p{
                        color:white;
                        font-family: $acumin-pro;
                        font-size:0.9375rem;
                        line-height: 1.3;
                        @include touch{
                            text-align:center;
                            &:last-child{
                                padding-bottom:2.875rem; 
                            }
                        }
                        a{
                            color:inherit;
                            text-decoration: underline;
                            &:hover{
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
            .footer__social{
                display:flex !important;
                flex-direction:row;
                justify-content: center;
                align-items: flex-start;
                @include touch{
                    justify-content:center;
                    align-items:center; 
                    border-top:1px solid #2e2e2e;
                    padding-top:1.375rem;
                    padding-bottom:1.625rem;
                }
                a{
                    margin: 0;
                    color: #fff;
                    font-weight: 700;
                    font-size:1.375rem;
                    text-decoration: none;  
                    &:not(:last-child){
                    margin-right:0.8rem;
                    }
                    @include touch{
                        &:not(:last-child){
                            margin-right:1.2rem;
                        }
                    }  
                    &:hover{
                        color:$boiler-gold;
                    } 
                }
                
            }
          }
        
      }
    }
    .footer__signature{
      padding:1.68rem 3.25rem!important;
      text-align:center;
      background-color: #1e1e1e !important;
      color: #fff;
      font-size:0.9375rem;
      @include touch{
        padding:1.68rem 1.5rem !important;
      }
      @include mobile{
        padding:1.68rem $side-padding-mobile !important;
    }
      .container{
        div{
            display:inline-block;
            ul{
                display:inline-block;
                li{
                    display:inline-block;
                    &:before{
                        content:"| ";
                    }
                }
            }
        }
      }

      a{
          color:#fff;
          text-decoration: underline; 
          &:hover{
            text-decoration: none; 
          }
      }
    }

    &__social {
        .navbar-item {
            padding: 0;
            &:not(:last-child){
                margin-right:0.8rem;
                }
        }
    }
    .footer__global__logo{
        border-bottom: 2px solid $boiler-gold;
        padding:2.25rem $side-padding-desktop !important;
        @include touch{
            padding:1.5625rem $side-padding-tablet !important;
        }
        @include mobile{
            padding:1.5625rem $side-padding-mobile !important;
        }
        .container{
            a{
                display:block;
                text-align:center;
                img{
                    display:block;
                    margin:0 auto;
                    height:3.5625rem;
                    @include touch{
                        height:2.5rem;                
                    }
                }
            }
        }
    }
    .footer__global__resources{
        padding:3.25rem $side-padding-desktop !important;
        @include touch{
            padding:0 !important;
        }
        .resources__columns{
            display:flex;
            flex-wrap:wrap;
            flex-direction:row;
            @include touch{
                flex-direction:column;
            }
            .resources__column{
                flex:1;
                &:not(:first-child){
                    padding-left:1.5rem;
                }
                @include touch{
                    padding-left:$side-padding-tablet !important;
                    padding-right:$side-padding-tablet !important;
                }
                @include mobile{
                    padding-left:$side-padding-mobile !important;
                    padding-right:$side-padding-mobile !important;
                }
                ul{
                    li{
                        a{
                            text-decoration: none;
                            &:hover{
                                color:$dust-gold;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .resources__info{
                display:flex;
                flex-direction:column;
                position:relative;
                &:before{
                    content: "";
                    display: block; 
                    position:absolute;
                    top:10%;
                    left: 0;
                    margin: 0 auto; 
                    height:80%; 
                    border-right: 1px solid #2e2e2e;
                }
                .title{
                    margin-bottom:0.625rem;
                    text-transform:uppercase;
                }
                .resources__contact,.resources__social{
                    margin-top:1.5rem;
                }
                .resources__social{
                    font-size:1.375rem;
                    a{
                        &:hover{
                            color:$dust-gold;
                        }
                        &:not(:last-child){
                            margin-right:0.8rem;
                        }
                    }
                }
                @include touch{
                    &:before{
                        border-right: none;
                    }
                    border-top:1px solid #2e2e2e;
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                    flex-direction:row;
                    justify-content:space-between;
                    align-self: flex-start;
                    width: 100%;
                    .resources__address,.resources__contact,.resources__social{
                        margin-top:0;
                        width:32%;
                    }
                }
                @include mobile{
                    border-top:1px solid #2e2e2e;
                    padding-top: 1.375rem;
                    padding-bottom: 1.375rem;
                    flex-direction:column;
                    justify-content:flex-start;
                    align-items:center;
                    text-align:center;
                    .resources__contact,.resources__social{
                        margin-top:1.5rem;
                    }
                    .resources__address,.resources__contact,.resources__social{
                        width:100%;
                    }
                }
            }
        }
    }
}


