a{
    color:$aged-gold;
    text-decoration:underline;
    font-weight:700;
    &:hover{
        text-decoration:none;
        color:$aged-gold;
    }
}
.has-background-black a:not(.wp-block-button__link),.has-background-black-ter a:not(.wp-block-button__link){
    color:$dust-gold;
}
.has-background-grey-lighter a:not(.wp-block-button__link){
    color:$aged-gold;
}
.has-background-boiler-gold a:not(.wp-block-button__link){
    color:$steel-gray;
}