$thetransition: all 0.25s cubic-bezier(1, 0.25, 0, 0.75) 0s;
.purdue-navbar-black {
  padding: 1.75rem 3.25rem;
  align-items: center !important;
  position: relative;
  font-family: $acumin-pro-semicondensed;
  @include touch {
    padding:1.5rem $side-padding-tablet;
  }
  @include mobile {
    padding:1.5rem $side-padding-mobile;
  }
  a{
    font-weight:400;
  }
  .navbar-brand {
    @include touch{
      min-height:2rem;
    }
    .navbar-item {
      padding: 0;
      margin:0;
      img {
        width: 243.47px;
        max-height: 44.18px;
        @include touch {
          max-height: 33px;
          width: 181.89px;
        }
      }
    }
    .icon {
      display: none;
      background: none;
      border: none;
      color: white;
      @include touch {
        display: block;
        &:hover {
          cursor: pointer;
        }
      }
      .burger-icon{
        display:block;
        font-size:2em;
        width:1.5em;
      }
      .close-icon{
        display:none;
        font-size:2.2em;
        width:1.5em;
      }
    }
  }
  .navbar-end {
    display: flex;
    align-items: center !important;
    flex-direction: row;
    padding-left: 3rem;
    @include touch {
      flex-direction: column-reverse;
      margin-top: 1rem;
      display: none;
      padding-left: 0;
    }
    ul {
      display: flex;
      flex-direction: row;
      @include touch {
        justify-content:space-around;
        margin: 1rem -0.5rem 0;
        flex-wrap:wrap;
        width:calc(100% + 16px);
      }
      li {
        margin:0;
        @include touch {
          flex:1 1 auto; 
          padding: 0 0.5rem;
          margin:0.5rem 0;  
        }
        a {
          padding: 0 0.8rem;
          color: inherit;
          font-family: $acumin-pro;
          font-size: 1.125rem;
          text-decoration: none;
          display:block;
          &:hover {
            color: $boiler-gold;
          }
          @include touch {
            display: block;
            width: 100%;
            text-align: center;
            background-color: $boiler-gold;
            font-weight: 500;
            font-size: 1rem;
            color: #000;
            padding: 0.5rem;
            &:hover {
              color: #000;
            }
          }
        }
        &:not(:first-child) {
          border-left: 1px solid #fff;
          @include touch {
            border: none;
          }
        }
      }
    }
    .search-box {
      margin-left: 3rem;
      @include touch {
        width: 100%;
        margin-left: 0;
      }
      form {
        display: flex;
        flex-direction: row;
        border: solid 1px $black;
        input:focus,
        button:focus {
          outline: none;
        }
        input[type='search'] {
          width: 200px;
          font-size: 1rem;
          border-radius: 0;
          height: 3rem;
          border: none;
          padding: 0.5rem 1rem;
          background: #ededed;
          -webkit-appearance: none;
          @include touch {
            width: 100%;
            line-height: 2.5rem;
            background: #fff;
          }
        }
        .search-button {
          background: #ededed;
          border: none;
          font-size: 1rem;
          padding: 0 0.75rem 0 0;
          @include touch {
            background: #fff;
          }
          .search-icon {
            cursor: pointer;
            transform:rotate(90deg);
            color:$steel-gray;
          }
        }
      }
    }
  }
}

.purdue-navbar-white {
  padding: 0 2.5rem;
  text-transform: uppercase;
  box-shadow: 0px 1px 6px 1px rgba(38, 38, 38, 0.2) !important;
  font-family: $acumin-pro-semicondensed;
  @include touch {
    padding: 0;
    display: none;
    background-color: $black !important;
    box-shadow: none;
    &.is-active {
      #navMenu {
        display: block;
        li {
          &:hover {
            background-color: transparent;
            a {
              background-color: transparent;
            }
          }
          a:hover{
            color: $boiler-gold;
          }
        }
      }
    }
  }
  a{
    font-weight:400;
  }
  .navbar-menu {
    @include touch {
      padding: 0;
      background-color: $black !important;
    }
    width: 100%;
    .navbar-start {
      flex-wrap: wrap;
      & > li {
        & > a {
          &:before {
            content: '';
            height: 2px;
            width: calc(100% - 25px);
            position: absolute;
            bottom: 12px;
            left: 12.5px;
            visibility: hidden;
            background: $aged-gold;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: $thetransition;
            transition: $thetransition;
          }
          @include touch {
            &:before {
              height: 0 !important;
            }
          }
        }
        & > a.navbar-link{
          &:before {
            content: '';
            height: 2px;
            width: calc(100% - 0px);
            position: absolute;
            bottom: 0;
            left: 0;
            visibility: hidden;
            background: $aged-gold;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: $thetransition;
            transition: $thetransition;
            @include touch {
              &:before {
                height: 0 !important;
              }
            }
          }
        }
        &:hover {
          & > a {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
        & > a.is-active-page {
          &:before {
            content: '';
            height: 2px;
            width: calc(100% - 25px);
            position: absolute;
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            bottom: 12px;
            left: 12.5px;
            background: $aged-gold;
          }
          @include touch {
            &:before {
              height: 0;
            }
          }
        }
        & > a.navbar-link.is-active-page {
          &:before {
            content: '';
            height: 2px;
            width: calc(100% - 0px);
            position: absolute;
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            bottom: 0;
            left: 0;
            background: $aged-gold;
          }
          @include touch {
            &:before {
              height: 0;
            }
          }
        }
      }
    }
  }
  .submenu.has-dropdown{
    &:after {
      font-family: 'Font Awesome 5 Free';
      font-size: 14px !important;
      font-weight: 900;
      content: '\f105' !important;
      position: absolute;
      right: 1.75rem;
      margin-top: 2px !important;
      color: black !important;
      @include touch {
        display: none;
      }
    }
  }
  .submenu {
    text-transform: none;
    @include touch {
      padding-top: 0.5rem !important;
    }
    &:hover > .navbar-dropdown-submenu {
      display: block;
    }

    .navbar-dropdown-submenu {
      top: -0.6rem;
      margin-left: 100%;
      background-color: #fff;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
      display: none;
      left: 0;
      min-width: 12rem;
      padding-top: 4px;
      position: absolute;
      z-index: 20;
      @include touch {
        top: 0;
        margin-left: 0;
        background-color: inherit;
        box-shadow: none;
        padding-bottom: 0;
        display: block;
        left: initial;
        position: relative;
        .navbar-item {
          padding-bottom: 0;
        }
      }
      a {
        color: $black;
        font-size: 1rem;
      }
    }
    .navbar-link-submenu {
      color: $black;
      line-height: 1.5;
      position: relative;
      width: 100%;

      a {
        color: #fff;
      }
    }
  }
  .navbar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    margin:0;
    @include touch {
      border-top: 1px solid #2e2e2e;
      padding: 0.5rem $side-padding-tablet;
      flex-direction: column;
      align-items: flex-start;
    }
    @include mobile {
      padding: 0.5rem $side-padding-mobile;
    }
    &.has-dropdown {
      &:after {
        font-family: 'Font Awesome 5 Free';
        font-size: 12px;
        font-weight: 900;
        content: '\f078';
        position: relative;
        right: -0.4rem;
        margin-top: 3px;
        color: black !important;
        @include touch {
          display: none;
        }
      }
      &:hover {

        @include touch {
          & > a {
            background-color: #fff;
          }
        }
      }
    }
    a {
      color: $black;
      font-size: 1.125rem;
      text-decoration: none;
      &:hover {
        background: white;
      }

      @include touch {
        font-size: 1rem;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        &:hover {
          color: $boiler-gold;
        }
      }
    }
    &:hover {

      .navbar-dropdown {
        display: block;
      }
      @include touch {
        background-color: #fff;
        & > a {
          background-color: #fff;
        }
        // .navbar-dropdown {
        //   display: none;
        // }
      }
    }
    @include touch {
      a {
        color: #fff;
      }
    }
  }
  .navbar-dropdown {
    padding:0;
    @include touch {
      // display: none;
      padding-top: 0 !important;
    }
    .navbar-item {
      @include touch {
        border-top: none;
        padding-bottom: 0 !important;
      }

      a {
        color: $black;
        font-size: 1rem;
        padding-right: 1rem;
        &:hover{
          text-decoration: underline;
          @include touch {
            text-decoration: none;
          }
        }
        @include touch {
          color: #fff;
        }
      }
    }
  }
  a.navbar-link {
    padding: 0;
    &:after {
      display: none;
    }
  }
}

.header {
  a{
    font-weight:400;
  }
  &--global {
    @include touch {
      display: flex;
      flex-direction: column;
      background: white;
    }
    .purdue-navbar-black {
      z-index:1002;
      .navbar-brand{
        .icon {
          display: flex;
          flex-direction:row;
          background: $boiler-gold;
          border: none;
          color: $black;
          width:auto;
          height: 100%;
          padding: 0 $side-padding-desktop 0 4.5rem;
          margin-left:0;
          overflow:hidden;
          position:absolute;
          right:0;
          top:0;
          &:before{
            content: '';
            background: $black;
            width: 3rem;
            height: 150px;
            position: absolute;
            right:17.5rem;
            transform: rotate(15deg);
          }
          &__button-text{
            display:inline-block;
            position:relative;
            position: relative;
            left: 0;
            top: 0;
            height: auto;
            background: none;
            transform: none;;
            width:auto;
            font-size:1rem;
            font-weight:700;
            margin-right:1rem;
            text-transform:uppercase;
            @include touch{
              display:none;
            }
          }
          img{
            transition: height 0.3s ease-out;
            
            &.burger-icon{
              height:21.91px;
              width:40px;
              &.is-hide{
                display:block;
                height:0;
                width:0 !important;
              }
            }
            &.close-icon{
              display:block;
              width:0 !important;
              height:0;
              margin-right:0;
              &.is-active{
                height:20px;
                width:20px !important;
                margin-right:10px;
                margin-left:10px;
              }
            }
          }
          @include touch{
            height:5.0625rem;
            padding: 0 $side-padding-tablet 0 2.5rem;
            &:before{
              width: 3rem;
              height: 150px;
              right:5rem;
              transform: rotate(15deg);
            }
          }
          @include mobile{
            padding: 0 $side-padding-mobile 0 2.5rem;
          }
          &:hover{
            .icon__button-text{
              font-style:italic;
            }
          }
        }
      }
      .navbar-end {
        margin-left: 0;
        margin-right:18rem;
        flex: 1 0 auto;
        &__quick-links{
          li{
            a{
              &:hover{
                font-style:italic;
                font-weight:700;
                color:$white;
              }
              width:64px;
            }
            &:first-child{
              a{
                width:72px;
              }
            }
          }
        }
      }

    }
    .navbar-find-info{
      display:none;
      position:absolute;
      left:0;
      height:0;
      z-index:1001;
      background-color:rgba(0, 0, 0, 0.75);
      width:100%;
      overflow:auto;
      transition: height 0.5s ease-out;
      border-top: 1px solid $aged-gold;
      @include touch{
        position:absolute;
        border-top: none;
        margin-top:81px;
      }

      &.is-active{
        display:flex;
        flex-direction:1;
        justify-content: flex-end;
      }
      &__panel{
        overflow:hidden;
        @include touch{
          width:100%;
        }
      }
      &__items{
        background:$white;
        padding:4rem 3.25rem;
        min-width:464px;
        min-height: 100vh;
        @include touch{
          margin-bottom:1.25rem;
          min-width:0;
          padding:2rem $side-padding-tablet 2rem;
          box-shadow:$box-shadow;
          min-height: 0;
        }
        @include mobile{
          padding:2rem $side-padding-mobile 2rem;
        }
        .search-box{
          width:100%;
          &:not(:last-child){
            margin-bottom:3rem;
          }
        
          form input[type=search]{
            width:100%;
            height:3rem;
          }
          .search-icon{
            transform: rotate(90deg);
            color:$steel-gray;
          }
          @include touch{
            &:not(:last-child){
              margin-bottom:1.25rem;
            }
          }

        }
      }
      &__quick-links{
        display:none;
        @include touch{
          display: flex;
          justify-content: space-around;
          margin: 0 -.5rem 1rem;
          flex-wrap: wrap;
          width: calc(100% + 16px);
          li{
            flex: 1 1 auto;
            padding: 0 .5rem;
            margin: .5rem 0;
            a{
              display: block;
            width: 100%;
            text-align: center;
            background-color: $black;
            font-weight: 500;
            font-size: 1rem;
            color: $boiler-gold;
            padding: .5rem;
            text-decoration: none;;
            }
          }
        }
      }
      &__item{
        overflow: hidden;
        &:not(:last-child){
          margin-bottom:1.6rem;
        }
        &-intro{
            font-family:$acumin-pro-semicondensed;
            font-weight: 400;
            font-size:1rem;
        }
        &-link{
          font-family:$acumin-pro-semicondensed;
          font-weight: 600;
          font-size:1rem;
          color:$aged-gold;
          text-decoration: none;
          &:after{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f105";
            margin-left:1rem;
            display:inline-block;
            text-decoration: none;
          }
          &:hover{
            color:$aged-gold;
            text-decoration: underline;
            &:after{
              text-decoration: none;
            }
          }
      }
        .accordion__heading{
          font-family:$acumin-pro-condensed;
          font-size:1.5rem;
          border:none;
          background:none;
          display:flex;
          flex-direction:row;
          justify-content: space-between;
          align-items:center;
          width:100%;
          cursor: pointer;
          padding:0;
          text-transform: uppercase;
          &:after{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f067";
            font-size:1rem;
          }
          &.is-open:after{
            content: "\f068";
          }
          &:hover, &.is-open{
            color:$aged-gold;
            font-style: italic;
            &:after{
              font-style: normal;
              color:$black;
            }       
          }
        }
        .accordion__content{
          transition: height 0.2s ease;
          height:0;
          margin:1.5rem 0 0;
          padding:0 1rem;
          border-left: 1px solid $boiler-gold;
          li{
            margin:0;
            &:not(:last-child){
              padding:0 0 1rem 0;
            }
            a{
              text-decoration:none;
              color: $steel-gray;
              font-family:$acumin-pro-semicondensed;
              font-weight: 400;
              &:hover{
                color: $steel-gray;
                text-decoration:none;
                font-style:italic;
                font-weight: 400;
              }
            }
          }
        }
        &-highlighted{
          border:1px solid $steel-gray;
          padding:0;
          background:$boiler-gold;
          border-bottom:none;
          margin-bottom:2rem;
          .accordion__heading{
            font-family:$acumin-pro-semicondensed;
            font-weight:600;
            font-size:1rem;
            text-transform: uppercase;
            padding:1.25rem 1rem;
            border-bottom: 1px solid $steel-gray;
            &:hover{
              color:$black;
            }
            &.is-open{
              font-style: normal;
              color:$black;
            }
          }
          .accordion__content{
            margin:0;
            padding:1.3rem 1rem;
            border-left: none;
            border-bottom: 1px solid $steel-gray;
            li{
              &:last-child{
                padding-bottom:1rem;
              }
              a{
                color:$black;
                &:hover{
                  color:$black;
                }
              }
            }
          }
        }
      }
    }
    .navbar-site-name{
      button{
        background:$white;
        border:none;
        font-family:$acumin-pro-semicondensed;
        color:$aged-gold;
        font-weight:400;
        font-style:italic;
        font-size:1.875rem;
        line-height:1.2;
        width:100%;
        padding:1.2rem $side-padding-desktop 0;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        z-index:50;
        position:relative;
        @include touch{
          font-size:1.25rem;
          line-height:1.25;
          padding:1rem $side-padding-tablet;
          box-shadow: $box-shadow;
          &:after{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f067";
            margin-left:1rem;
            display:inline-block;
            text-decoration: none;
            font-style: normal;
          }
        }
        @include mobile{
          padding:1rem $side-padding-mobile;
        }
        &.is-open{
          @include touch{
            &:after{
              content: "\f068";
            }
          }
        }
      }
    }
    .navbar {
      &--global {
        transition: height 0.2s ease-in;
        width:100%;
        flex-wrap: wrap;
        padding-bottom:0.7rem;
        @include touch{
          margin-top:0;
          height:0;
          overflow: hidden;
          background:$grey-secondary !important;
          padding-bottom:1.5rem;
        }
        .navbar-start {
          width: 100%;
          flex-wrap: wrap;
          .navbar-item{
            border:none;
            @include touch{
              padding:0;
              overflow: hidden;
              &:hover{
                background:none;
                a{
                  background:none;
                }
              }
            }
            @include mobile{
              padding:0;
            }
            &.active{
              &>a{
                font-weight:700 !important;
              }

            }
            a{
              font-size: 15px;
              text-transform:uppercase;
              background:none;
              @include touch{
                font-size: 1rem;
                text-transform:none;
                color: $black;
                padding:1.25rem 2.4rem 0 $side-padding-tablet;
              }
              @include mobile{
                padding:1.25rem 2rem 0 $side-padding-mobile;
              }
              &:hover{
                background:none;
                color:$aged-gold;
              }
            }
            &.has-dropdown{
              &:hover{
                &:after{
                  content: '\f077';
                  font-family: 'Font Awesome 5 Free';
                  font-size: 12px;
                  font-weight: 900;
                  position: relative;
                  right: -0.4rem;
                  margin-top: 3px;
                  color: $aged-gold !important;
                }
                &>a{
                  font-style: italic;
                  color:$aged-gold;
                  font-weight:700;
                }
              }
              @include touch{
                &:hover{
                  &>a{
                    font-style: normal;
                    font-weight:400;
                    &:after{
                      font-style: normal;
                    }
                  }
                }
              }
            }
            a.navbar-link{
              @include touch{
                width:100%;
                &:after{
                  content: '\f067';
                  font-family: 'Font Awesome 5 Free';
                  font-weight: 900;
                  position: absolute;
                  border:none;
                  transform: none;
                  display:inline-block;
                  right:1.7rem;
                  margin:0;
                }
                &:hover{
                  &:after{
                    font-style: normal;
                  }
                }
              }
              @include mobile{
                &:after{
                  right:1.5rem;
                }
              }
              &.navbar-link-open{
                font-weight:700;
                @include touch{
                  &:after{
                    content: '\f068';
                  }
                }
              }
            }
          }
          .navbar-dropdown{
            margin-left:0.75rem;
            border-radius: 0;            
            @include touch{
              display:none;
              height:0;
              margin-left:1.5rem;
              margin-top:1.25rem;
              transition: height 0.2s ease;
              &.is-active{
                display:block;
                height:auto;
                border-left: solid 1px $aged-gold;
              }
            }
            @include mobile{
              margin-left:1.25rem;
            }
            .navbar-item{
              padding:0.5rem 1.5rem;
              &:last-child{
                padding-bottom:1.5rem;
              }
              &:first-child{
                padding-top:1.5rem;
              }
              @include touch{
                padding:0.5rem 1.5rem 0 !important;
                &:first-child{
                  
                    padding-top:0 !important;
                  
                }
              }
              a{
                font-size: 1rem;
                text-transform:none;
                font-weight:400;
                @include touch{
                  font-weight:300;
                  padding:0;
                }
                &:hover{
                  background:none;
                }
              }
            }
          }
          .navbar-dropdown-submenu{
            @include touch{
              font-weight:300;
              padding-top:0.5rem;
            }
          }
        }
      }
    }
  }
  &--lp {
    .navbar {
      &--lp {
        align-items: center;
        justify-content: flex-start;

        &.is-transparent {
          position: absolute;
          z-index: 9999;
          background: transparent;
        }

        .navbar{

          &-brand {
            @include touch {
              align-items: center;
              justify-content: center;
            }
          }

          &-item {
            &:hover {
              background: none !important;
            }
          }
        }

      }
    }
  }
}
.no-scroll {
  position: fixed; 
  overflow-y: scroll;
  width: 100%;
}
