.post-container {
  background: #ededed;
  width: 100%;
  padding: 2rem 0;

  @include touch {
    padding: 2rem $side-padding-tablet !important;
  }
  @include mobile {
    padding: 2rem $side-padding-mobile !important;
  }
}
.alm-paging-content{
  display:flex;
  flex-wrap:wrap;
  margin:0 -0.75rem;
}
ul.alm-paging li.active a {
  background: $aged-gold !important;
  border-color: $aged-gold !important;
}
.alm-btn-wrap {
  padding: 2rem 0 3.2rem !important;
}
ul.alm-paging {
  padding:0 0.75rem !important;
  li{
    a{
      font-weight:400;
    }
  }
}
.ajax-load-more-wrap ul.alm-listing li.grid-item {
  width: 33.333%;
  margin: 0;
  float: left;
  display: inline;
  padding: 0.75rem;
  overflow:unset; 
  @include touch {
    width: 50%;
  }

  @include mobile {
    width: 100%;
  }
}

.alm-masonry {
  margin: 0 -0.75rem;
  overflow:visible !important;
}
ul.alm-listing{
  margin:0 !important;
} 
.post-list {
  margin: 0 auto !important;
  padding: 2.25rem 0 0!important;
}

.card.listed-post {
  height: 100%;
  box-shadow: $box-shadow;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  a{
    text-decoration: none;
  }
  .card-bg-image {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-content {
    padding: 2.5rem 2.8rem;

    .title {
      margin-top: 0 !important;
      font-family: $acumin-pro-semicondensed;
      font-weight: 600;
      line-height: 1.35;
      text-decoration: none;
    }

    .subtitle {
      font-family: $united-sans;
      font-weight: 800;
      font-size: 1.125rem;
      color: $aged-gold;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .media {
      margin-bottom: 1rem;
      .media-content {
        @include mobile {
          overflow: hidden;
        }
      }
    }

    .content-text {
      margin-bottom: 1.25rem;
      font-family: $acumin-pro;
      font-size: 1.125rem;
      line-height: 1.5;
      max-height: 5.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #707070;
      font-weight:400;  
      @media (-webkit-min-device-pixel-ratio: 0) {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }

    .read-more-button {
      margin-top: 1.25rem;
      font-family: $united-sans;
      font-weight: 800;
      font-size: 1.125rem;
      color: $aged-gold;
      text-transform: uppercase;

      span {
        color: inherit;
        position: relative;

        &:after {
          content: "\f105";
          display: inline-block;
          font-family: "Font Awesome 5 Free";
          margin-left: 1rem;
          position: absolute;
          top: -0.3rem;
        }
      }
    }
  }

  &:hover,
  &:focus {
    box-shadow: $box-shadow-hover;

    .card-content {
      .title {
        text-decoration: underline;
      }
    }

    .read-more-button {
      color: #000;
    }
  }
}
.year-list {
  padding: 2.25rem 0 !important;
  margin: 0 auto !important;

  .columns {
    align-items: stretch;
  }
}
.card.listed-year {
  height: 100%;
  display: block;
  box-shadow: $box-shadow;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-decoration: none;
  .card-image {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-content {
    padding: 1.5rem;

    .content {
      font-family: $acumin-pro-condensed;
      font-size: 1.875rem;
      font-weight:400;
      line-height: 1.5;
      text-align: center;
    }
  }

  &:hover,
  &:focus {
    box-shadow: $box-shadow-hover;
    .card-content {
      .content {
        text-decoration: underline;
        color:#000;
      }
    }
  }
}
.faculty-list{
  padding:2rem 0 !important;
  margin-top:2rem !important;
  border-top:solid 1px $steam-gray;

}
.card.listed-faculty{
  padding:1.5rem;
  height:100%;
  border-top:0.5rem solid #90713C;
  p{
    margin-bottom:0;
    font-weight:400;
  }
  .media{
        @include mobile{
        flex-direction:column;
          align-items:center;
          }
        position:relative;
        .media-left{
          width:150px;
          height:auto;
          margin-right:1.5rem;
          position:relative;
           @include mobile{
           padding-bottom:1.5rem;
           margin-right:0;
          }
          &:after{
            content: "";
            display: block; 
            position:absolute;
            top:5%;
            right:-1.4rem;
            margin: 0 auto; 
            height:80%; 
            border-right: 1px solid #90713C;
            @include mobile{
              border-right: none;
              border-bottom: 1px solid #90713C;
              top: 0.3rem;
              height: 100%;
              left: -3.6rem;
              width: 250px;
              }
          }
          &:before{
            content: "";
            display: block; 
            position:absolute;
            top:10%;
            right: -1.7rem;
            margin: 0 auto; 
            width:100%;
            height:80%;
            border-right: 1px solid #90713C;
              @include mobile{
                border-left: none;
                border-bottom: 1px solid #90713C;
                top: -0.2rem;
                left: -2.6rem;
                width: 250px;
                border-right: none;
                height: 100%;
              }
          }
        }
        .media-content{
          height:100%;
          display:flex;
          flex-direction:column;
          padding-left:1.5rem;
          position:relative;
         @include mobile{
             overflow:hidden;
           padding-top:1.5rem;
           padding-left:0;
           width:100%;
          }

    .top{
      margin-top:0 !important;
      margin-bottom:1rem;
      font-weight:600;
      line-height:1.2;
      text-align:center;
      display:flex;
      flex-direction:row;
      align-items:baseline;
      @include mobile{
             flex-direction:column;
             align-items:center;
      }
      h2{
        font-size:28px;
        color:$aged-gold;
        font-family:$acumin-pro-condensed;
        margin-right:1rem;
        margin-bottom:0;
          @include mobile{
            font-size:24px;
            margin-right:0;
  }
      }
      p{
        font-size:18px;
        font-family:$acumin-pro;
      }
    }
  
    .middle{
      margin-bottom:1rem;
      p{
        font-size:1.125rem;
        line-height:32px;
        font-family:$acumin-pro;
      }
    }
    .bottom{
      display:flex;
      flex-direction:row;
      font-weight:700;
      justify-content:center;
       @include mobile{
             flex-direction:column;
      }
      p.phone{
        font-family:$united-sans;
        color:$aged-gold;
        font-size:1rem;
        line-height:2.3;
        margin-right:2rem;
        text-align:center;
        @include mobile{
             margin-right:0;
      }
    }
      p.email{
        font-size:1.125rem;
        font-family:$acumin-pro;
        text-align:center;
      }
      }  
  }
}
  }
.post {
  &__subheading {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__date-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid black;
    margin-bottom: 2.5rem;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    &--date {
      font-family: "United Sans";
      font-size: 1rem;
      text-transform: uppercase;
      padding-right: 1.25rem;
      margin-right:1.25rem;
      flex: 0 0 auto;
      color:$aged-gold;
      &:not(:last-child) {
        border-right: 1px solid black;
        @include mobile {
          border-right: none;
        }
      }
      @include mobile {
        margin-bottom: 1rem;
      }
    }

    &--share {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
      color:$aged-gold;

      @include mobile {
        padding-left: 0;
      }

      p {
        font-family: "United Sans";
        font-size: 1rem;
        text-transform: uppercase;
        margin-right: 0.75rem;
        margin-bottom:0 !important;
      }

      .icon {
        text-decoration: none;
        svg{
          font-size:1.75rem;
        }
        &:hover {
          color: $aged-gold;
          svg{
            fill:$aged-gold;
          }
        }
      }
    }
  }
}
.share-button-bottom{
  margin-bottom:0 !important;
  border-bottom:none !important;
  padding-top:1rem;
  padding-bottom:0;
}
.card.listed-template .card-content{
  padding: 1.25rem;
  .media {
    margin-bottom: 0 !important;
    .media-content{
      .title{
        font-size: 1.25rem !important;
        font-family: $acumin-pro;
        font-weight: 700;
        margin-bottom:0;
        @include mobile{
          font-size: 1.125rem !important;
        }
      }
      .sub-title{
        margin-top:0.625rem;
        color:$cool-gray;
        font-weight:400;
        font-style:italic;
        font-size:1rem;
        font-family:$acumin-pro-semicondensed;
        line-height:1.2;
      }
    }
  }
} 
.marcom-news-list{
  align-items: center;
  border-bottom: 2px solid $steam-gray;
  padding: 1.5rem 0;
  &>.column{
    padding-left:0;
    padding-right:0;
  }
}
.news-list-content{
  align-items: center;
  padding-right: 1.5rem;
  @include touch{
    flex-direction:column;
    align-items: flex-start;
  }
  @include mobile{
    padding-right: 0;
  }
  .column.is-narrow{
    width:350px;
  }
  img{
    height:45px;
    width:auto;
    display:block;
  }
  .news-publisher-name{
    font-weight:700;
  }
}
.news-list .news-list-content{
  flex-direction:column;
  align-items: flex-start;
}
.news-list + .alm-btn-wrap{
  padding:3rem 0 2rem !important;
}