.post-container {
  background: #ededed;
  width: 100%;
  padding: 2rem 0;

  @include touch {
    padding: 2rem 1.5rem !important;
  }
}
.alm-paging-content{
  display:flex;
  flex-wrap:wrap;
  margin:0 -0.75rem;
}
ul.alm-paging li.active a {
  background: $aged-gold !important;
  border-color: $aged-gold !important;
}
.alm-btn-wrap {
  padding: 0 0 3.2rem !important;
}
ul.alm-paging {
  padding:0 0.75rem !important;
}
.ajax-load-more-wrap ul.alm-listing li.grid-item {
  width: 33.333%;
  margin: 0;
  float: left;
  display: inline;
  padding: 0.75rem;
  overflow:unset; 
  @include touch {
    width: 50%;
  }

  @include mobile {
    width: 100%;
  }
}

.alm-masonry {
  margin: 0 -0.75rem;
  overflow:visible !important;
}

.post-list {
  margin: 0 auto !important;
  padding: 2.25rem 0 !important;

  .card {
    height: 100%;
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    a{
      text-decoration: none;
    }
    .card-bg-image {
      display: block;
      width: 100%;
      box-sizing: border-box;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card-content {
      padding: 2.5rem 2.8rem;

      .title {
        margin-top: 0 !important;
        font-family: $acumin-pro-semicondensed;
        font-weight: 600;
        line-height: 1.35;
        text-decoration: none;
      }

      .subtitle {
        font-family: $united-sans;
        font-weight: 800;
        font-size: 1.125rem;
        color: $aged-gold;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      .media {
        margin-bottom: 1rem;
        .media-content {
          @include mobile {
            overflow: hidden;
          }
        }
      }

      .content-text {
        margin-bottom: 1.25rem;
        font-family: $acumin-pro;
        font-size: 1.125rem;
        line-height: 1.5;
        max-height: 5.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #707070;

        @media (-webkit-min-device-pixel-ratio: 0) {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }

      .read-more-button {
        margin-top: 1.25rem;
        font-family: $united-sans;
        font-weight: 800;
        font-size: 1.125rem;
        color: $aged-gold;
        text-transform: uppercase;

        span {
          color: inherit;
          position: relative;

          &:after {
            content: "\f105";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            margin-left: 1rem;
            position: absolute;
            top: -0.3rem;
          }
        }
      }
    }

    &:hover,
    &:focus {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

      .card-content {
        .title {
          text-decoration: underline;
        }
      }

      .read-more-button {
        color: #000;
      }
    }
  }
}

.year-list {
  padding: 2.25rem 0 !important;
  margin: 0 auto !important;

  .columns {
    align-items: stretch;

    .column {
      .card {
        height: 100%;
        display: block;
        box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        text-decoration: none;
        .card-image {
          display: block;
          width: 100%;
          box-sizing: border-box;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .card-content {
          padding: 1.5rem;

          .content {
            font-family: $acumin-pro-condensed;
            font-size: 1.875rem;
            line-height: 1.5;
            text-align: center;
          }
        }

        &:hover,
        &:focus {
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          .card-content {
            .content {
              text-decoration: underline;
              color:#000;
            }
          }
        }
      }
    }
  }
}

.post {
  &__subheading {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__date-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid black;
    margin-bottom: 2.5rem;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    &--date {
      font-family: "United Sans";
      font-size: 1rem;
      text-transform: uppercase;
      padding-right: 1.25rem;
      margin-right:1.25rem;
      flex: 0 0 auto;
      color:$aged-gold;
      &:not(:last-child) {
        border-right: 1px solid black;
      }
      @include mobile {
        border-right: none;
        margin-bottom: 1rem;
      }
    }

    &--share {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;
      color:$aged-gold;

      @include mobile {
        padding-left: 0;
      }

      p {
        font-family: "United Sans";
        font-size: 1rem;
        text-transform: uppercase;
        margin-right: 0.75rem;
      }

      .icon {
        color: #707070;

        &:hover {
          color: $aged-gold;
        }
      }
    }
  }
}