.with-sideContent {
  justify-content: space-between;

  .column {
    .wp-caption {
      width: 100% !important;
    }

    .side-content {
      position: sticky;
      top: 4rem;
      // padding-top: 2rem;

      h2 {
        font-family: $acumin-pro-semicondensed;
        font-size: 1.375rem;
        font-weight: 700;
        margin-bottom: 1.5625rem;
        color:#000;
      }

      .media {
        padding: 1.5625rem 0;
        border-top: solid 1px #000;
        color: inherit !important;
        flex-direction:row !important;
        &:last-of-type {
          border-bottom: solid 1px #000;
        }
        &-left{
          margin-bottom:0;
          margin-right:1rem;
        }
        &-content {
          @media (max-width:768px) {
            overflow: hidden;
          }
        }
      }
      .resources-widget{
        background-color:#ededed;
        padding:1rem 0;
        h2{
          border-bottom:solid 1px #000;
          padding-bottom: 0.5rem;
          margin-bottom:0 0.5rem 1.5rem;
          text-align:center;
        }
        div{
          margin:0.5rem 1.5rem;
          ul{
            list-style-type: disc;
            margin-left: 1.5rem;
            li{
              a{
                color:#000;
                font-weight:600;
                text-decoration: none;
                &:hover{
                  text-decoration:underline;
                }
              }
            }
          }
        }
      }
      div{
        background-color:#ededed;
        margin-bottom:2rem;
        h2{
          color:#000;
          margin:0 !important;
          padding:1rem 2.25rem;
          border-bottom: solid 1px #000;
          text-align:center;
        }
        ul{
          margin: 0 2.25rem 0 3rem !important;
          padding: 2rem 0 !important;
          font-family: $acumin-pro;
          font-size:1rem;
          line-height:1.3125rem;
          li{
            margin:0;
            &:not(:last-child){
              margin-bottom:1.5rem
            }
          }
        }
        ul{
          list-style-type: square !important;
        }
        a{
          color:#000;
          text-decoration:none;
          &:hover{
            text-decoration:underline;
            color:#000;
          }
        }
      }
      .related-content{
        background: none;
        margin-bottom:2rem;
        &-header{
          font-family: $acumin-pro-semicondensed;
          font-size: 1.375rem;
          font-weight: 700;
          margin-bottom: 1.5625rem !important;
          padding:0;
          color:#000;
          border:none;
          text-align:left;
        }
      }
      .related-content-item {
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
        &.media {
            flex-direction: column;
    
            &+.media {
                margin-top: 0;
            }
        }
    
        .media {
            &-left {
 
                .image {
                    width: 160px;
                    display: block;
                    box-sizing: border-box;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            &-content{
                font-weight: 600;
                max-width:100%;
                background-color:transparent;
                margin-bottom:0;
                line-height:1.25rem;
            }
        }
    }
    }

  }

}
//recent posts plugin style
.rpwe-block h3{
  font-weight: 500;
  font-size: 16px !important;
  line-height: 1.3em;
  margin-bottom:0.5rem
  }
  
  .rpwe-thumb{
  border: 1px solid #eee !important;
  box-shadow: none !important;
  margin: 2px 10px 2px 0;
  padding: 3px !important;
  }
  
  .rpwe-summary{
  font-size: 16px;
  }
  
  .rpwe-time{
  color: #000;
  font-size: 14px;
  font-family: "United Sans";
  margin-top:0.5rem;
  }
  
  .rpwe-comment{
  color: #bbb;
  font-size: 11px;
  padding-left: 5px;
  }
  
  .rpwe-alignleft{
  display: inline;
  float: left;
  }
  
  .rpwe-alignright{
  display: inline;
  float: right;
  }
  
  .rpwe-aligncenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  
  .rpwe-clearfix:after{
  clear: both;
  }
  
  .rpwe-clearfix{
  zoom: 1;
  }
  