.fixed-header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
}

.site-content-sidenav{
  display: grid;
  grid-template-columns: 288px 1fr;
  grid-template-rows: auto auto;
  @include touch{
    display:block;
  }

  .side-nav{
    width:288px;
    font-size: 1rem;
    font-weight:500;
    display:block;
    bottom:0;
    z-index:10;
    grid-row: 1/3 !important;
    grid-column:1/2 !important;
    font-family: $acumin-pro-semicondensed;
    border-right:1px solid $boiler-gold;
    @include touch {
      width:100%;
      float:none;
      padding:1.5rem $side-padding-tablet;
      border:none;
      &+main>.content:first-child>.section:first-child{
        padding-top:1.5rem !important;
      }
    }
    @include mobile{
      padding:1.5rem $side-padding-mobile;
    }
    .accordion__heading{
      border:none;
      background-color:$black;
      color:$white;
      padding:1.5rem 1.5rem 1.5rem $side-padding-desktop;
      font-family:$acumin-pro-semicondensed;
      font-size:1rem;
      line-height:1.5;
      font-weight:600;
      text-transform:uppercase;
      border-bottom: 1px solid $steel-gray;
      width:100%;
      text-align:left;
      position:relative;
      @include touch{
        padding:1rem 1.25rem;
        border-bottom:none;
        &:after{
          content: '\f067';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          position: absolute;
          border:none;
          transform: none;
          display:inline-block;
          right:1.25rem;
          margin:0;
        }
        &.is-open{
          border-bottom: 1px solid $steel-gray;
          &:after{
            content: '\f068';
          }
        }
      }
    }
    a{
      font-weight:400;
    }

    .navbar-menu{
      display:block;
      padding:0.75rem 0;
      @include touch {
        display:none;
        background-color:$black;
        overflow: hidden;
        transition: height 0.2s ease;
        height:0;
      }
      &.show{
        overflow: visible;
        height: auto;
      }
      li.navbar-item>a{
        width:100%;
      }
      .navbar-item{
        padding: 0;
        margin:0;
        flex-direction:column;
        align-items:flex-start;
        font-weight:500;
        position:relative;
        overflow: hidden;
        &:hover{
          .navbar-link, .navbar-link-open{
            background:none;
          }
        }
        &.active{
          &>a{
            font-weight:600; 
            text-decoration: underline;
          }
        }
        &>a{
          &:hover{
            text-decoration: underline;
          }
        }
        a{
          color:$white;
          padding: 0.75rem 1.5rem 0.75rem $side-padding-desktop;
          display:block;
          text-decoration: none;
          font-weight:600;
          @include touch{
            padding: 0.5rem 2rem 0.5rem $side-padding-mobile;
          }
        }
        .navbar-link{
          width:100%;
          text-decoration: none;
          background:none;
          &:after{
            content: '\f067';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            border:none;
            transform: none;
            display:inline-block;
            right:1rem;
            margin:0;
            top: auto;
          }
          &:hover{
            background:none;
          }
          @include touch{
            &:after{
              right:1.7rem;
            }
          }
        }
        .navbar-link-open{
          width:100%;
          background:none;
          font-style:italic;
          font-weight:600; 
          color:$boiler-gold;
          &:after{
            content: '\f068';
            color:$white;
            font-style:normal;
          }
        }
        .navbar-dropdown{
          position:relative;
          border-radius:0;
          border: none;
          height:0;
          transition: height 0.2s ease;
          box-shadow:none;
          z-index:0;
          padding: 0 0 0 1rem;
          font-weight:400;
          padding:0.5rem 0 0.5rem $side-padding-desktop;
          width:100%;
          overflow: hidden;
          @include touch{
            display:none;
            padding:0.5rem 0 0.5rem 1.25rem;
          }
          &.is-active{
            display:block;
            width:100%;
            background:none;
            &:hover{
              background:none;
            }
          }
          .navbar-item{
            border-left: solid 1px $boiler-gold;
            padding:0.5rem 0 0 1rem;
            &.active{
              &>a{
                text-decoration: underline;   
              }
            }
            &:first-child{
              padding-top:0;
            }
          }

          a{
            color:$steam-gray;
            width:100%;
            font-weight:400;
            white-space: break-spaces;
            padding:0 1.5rem 0 0;
            &:hover{
              text-decoration: underline;   
            }
          }
          .submenu{
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            font-size:1rem;
            &:hover{
              .navbar-dropdown-submenu{
                .navbar-item{
                  a{            
                  &:hover{
                     text-decoration: underline;
                  }
                  }
                }
              }
            }
            .navbar-dropdown-submenu{
              width:100%;
              padding: 0.5rem 0 0;
              .navbar-item{
                width:100%;
                border:none;
              }
            }
          }
        }
  
      }

    }

  }
  .aside-wrapper {
    height:100%;
    width: 100%;
    padding:0;
    background-color:$black;
  }
  .main-content{
    grid-row: 1/2 !important;
    grid-column:2/3 !important;
    @include touch{
      margin-left:0;
    }
  }
}